
// Colors
$black: #000;
$black-bis: #181818;
$black-grey: #1f1f1f;
$grey: #c8c8c8;
$grey-dark: #333;
$white: #fff;
$white-bis: #f6f6f6;

$twitchColor: #6441a5;

// font
$roboto: Roboto, serif;
$open-sans: "Open Sans", sans-serif;
$font-light: 200;
$font-regular: 400;
$font-medium: 600;
$font-bold: 700;

// menu
$heightMenu: 120px;

// projects home
$project__big-height: 535;
$project__medium-height: ($project__big-height/2) - 10;

