form {
  margin-top: 35px;
  p {
    padding-bottom: 27px;
  }

  input[type=text], input[type=email], textarea{
    font-size: 14px;
    background-color: rgba(0,0,0,.035);
    color: #555;
    box-shadow: none;
    border: none;
    position: relative;
    margin: 0;
    border-bottom: 2px solid #e0e0e0;
    transition: border-color .2s ease;
    border-radius: 0;
    padding: 16px;
    width: 100%;

    &:focus {
      border-color: $black-bis;
      outline: 0;
    }
  }
  textarea {
    padding: 20px;
  }

  input[type=submit] {
    @extend .button;
    @extend .button, .is-black;
  }
}
